html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="./../styles.min.css")
    title Contact us
  body 
    header.header-contact
        img(src="../static/ukraine.svg", alt="Ukraine").ukr
    .contact-hand
        img(src="../static/contact-us.svg", alt="Contact us")
    .contact-info
        p.tel-number telephone number     +380682033146
        p.mail  #[span mail]     livespacestudio@gmail.com
        p.telegram #[span telegram]     @livespace
        p.skype #[span skype]     jumpoff6
    .poppies
        img(src="../static/flowers.png", alt="poppy flowers" width="100%")
        p.poem Всім серцем любіть Україну свою — і вічні ми будемо з нею!
    footer
        img(src="../static/LS-logo.svg", alt="Live Space Studio" width="150")
        ul.info
            li.page-link
                a(href="#") about us
            li.page-link
                a(href="#") prices
            li.page-link
                a(href="#") contact us
            li
                a(href="#") EN
            li
                a(href="#")
                    img(src="../static/behance-logo.svg", alt="behance logo" width="24").icon
            li
                a(href="#")
                    img(src="../static/instagram.svg", alt="instagram logo" width="24").icon
    

