@font-face {
    font-family: "basis33";
    src: url("./static/basis33.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.texts .small-text,
.texts .filler {
    font-family: "basis33";
}

header {
    text-align: center;
}

header img.who-are {
    margin: 350px 0;
}

.parallax {
    position: relative;
    width: 960px;
    margin: auto;
    padding-top: 170px;
    height: 800px;
}

.parallax > .cont-smoke,
.parallax > .cont-jp-text {
    margin: auto;
    text-align: center;
}

.parallax .cont-mob {
    position: absolute;
    top: 170px;
    z-index: 2;
}

.parallax .cont-jp-text {
    position: absolute;
    top: 235px;
    left: 15px;
    z-index: 3;
}

.parallax .cont-smoke {
    position: absolute;
    top: 350px;
    left: 50px;
    z-index: 5;
}

.parallax .cont-spray {
    position: absolute;
    width: 120px;
    top: 20px;
    left: 110px;
}

.parallax .cont-head {
    position: absolute;
    top: 105px;
    left: calc(960 / 2-135);
    z-index: 4;
}

.texts .small-text {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 2em;
}

.texts .heading {
    font-weight: 900;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    width: 660px;
    font-size: 5em;
    margin-bottom: 15px;
}

.texts .rebels {
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 40px;
}

.texts .filler {
    margin: 0 auto;
    width: 580px;
    font-size: 1.3em;
    margin-bottom: 50px;
}

.pero {
    text-align: center;
    margin-bottom: 90px;
}

footer {
    display: flex;
    background-color: #000;
    padding-left: 20px;
    height: 80px;
}

.info {
    display: flex;
    margin-left: 20%;
    width: 100%;
    justify-content: space-around;
}

.info > .icon {
    margin: auto 25px;
}

.info > a {
    color: #fff;
    text-decoration: none;
    margin: auto;
}
